{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TuBuddy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
{#  <script src="../static/js/myscripts.js"></script>#}
    <link type="text/javascript" href="{% static 'js/myscripts.js' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>



<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'api:list' %}">Doctor name</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'api:list' %}">Patients list <span class="sr-only">(current)</span></a></li>
        <li><a href="treatment.html">Treatment plans</a></li>
 		<li><a href="#">FAQ</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Language<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">English</a></li>
            <li><a href="#"Dutch</a></li>
            <li><a href="#">Romanian</a></li>
          </ul>
        <li><a href="#">Logout</a></li>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


	<!-- This is the list of the patients -->
<div class="col-md-6 menu-container">
	<ul class="list-group">
	  <a href="#" class="list-group-item list-group-item-action zoom" id="element">Rutger Berghuis</a>
	  <a href="#" class="list-group-item list-group-item-action zoom" id="element">Teodor Oanca</a>
	  <a href="#" class="list-group-item list-group-item-action zoom" id="element">Sten Sipma</a>
	  <a href="#" class="list-group-item list-group-item-action zoom" id="element">Giacomo Casoni</a>
	  <a href="#" class="list-group-item list-group-item-action zoom" id="element">Sytze Tempel</a>
	  <a href="#" class="list-group-item list-group-item-action zoom" id="element">Andrei Scurtu</a>
	</ul>

    <a href="{% url 'api:add_patient' %}"><button type="button" class="btn btn-primary btn-lg btn-block">Add patient</button></a>
</div>


<script>
$("a").hover(
  function () {
    $(this).addClass('active');
  }, 
  function () {
    $(this).removeClass('active');
  }
  );
</script>



	<!-- This are the details of a clicked patient -->
<div class="col-md-6 jumbotron container-fluid text-center">
	<h2>{Name of the patient.}</h2>
	    <h3 >Treatment plan: {name}</h3>

	  <div class="dropdown">
	  	<button onclick="myFunction()" class="dropbtn btn btn-info btn-lg">Change treatment</button>
	  	<div id="myDropdown" class="dropdown-content">
		    <a href="#">Treatment 1</a>
		    <a href="#">Treatment 2</a>
		    <a href="#">Treatment 3</a>
	 	 </div>
	 </div>



	  <button type="button" class="btn btn-info btn-lg">Delete patient</button>


	  



</div>













</body>
</html>