{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TuBuddy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
{#  <script src="../static/js/myscripts.js"></script>#}
    <script src="{% static 'js/myscripts.js' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


     <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />



</head>
<body>






<div id="add_treatment_form">
    <form name="treatment" action="" method="POST">
        {% csrf_token %}
        <div class="container">
          <div class="panel panel-primary jumbotron">
            <div class="panel-heading">
                <h3>
                    Enter your credentials:
                </h3>
            </div>
              <div class="panel-body">
                 <div class="row">
                    <div class="border col-md-6 text-center">

                       <div class="fieldWrapper form-group">
                           <label for="{{ form.username.id_for_label }}">Username:</label>
                       </div>

                       <div class="fieldWrapper form-group">
                            <label for="{{ form.password.id_for_label }}">Password:</label>
                       </div>

                    </div>
                    <div class='border col-md-6 text-center'>

                       <div class="fieldWrapper form-group">
                        {{ form.username}}
                       </div>

                       <div class="fieldWrapper form-group">
                        {{ form.password }}
                       </div>
                    </div>

              </div>

              <button type="submit" id="submit_button" class="btn btn-primary btn-lg btn-block">Login</button>

            </div>

           </div>

        </div>
    </form>

</div>







</body>
</html>