{% extends "base.html" %}

{% block content %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<script>

    $(function() {
    $('.error').hide();
    $(".button").click(function() {
      // validate and process form here

      $('.error').hide();
  	  var name = $("input#name").val();
  		if (name == "") {
        $("label#name_error").show();
        $("input#name").focus();
        return false;
      }
  		var email = $("input#email").val();
  		if (email == "") {
        $("label#email_error").show();
        $("input#email").focus();
        return false;
      }
  		var phone = $("input#phone").val();
  		if (phone == "") {
        $("label#phone_error").show();
        $("input#phone").focus();
        return false;
      }



      var dataString = 'name='+ name + '&email=' + email + '&phone=' + phone;
     alert (dataString);return false;
      $.ajax({
        type: "POST",
        url: "test2",
        data: data_dict,
        success: function() {
          $('#contact_form').html("<div id='message'></div>");
          $('#message').html("<h2>Contact Form Submitted!</h2>")
          .append("<p>We will be in touch soon.</p>")
          .hide()
          .fadeIn(1500, function() {
            $('#message').append("<img id='checkmark' src='images/check.png' />");
          });
        }
      });
    return false;


    });
  });








</script>


<div id="contact_form">
    <form name="contact" action="" method="POST">
        {% csrf_token %}
        <label for="name" id="name_label">Name</label>
        <input type="text" name="name" id="name" size="30" value="" class="text-input" />
        <label class="error" for="name" id="name_error">This field is required.</label><br>

        <label for="email" id="email_label">Return Email</label>
        <input type="text" name="email" id="email" size="30" value="" class="text-input" />
        <label class="error" for="email" id="email_error">This field is required.</label><br>

        <label for="phone" id="phone_label">Return Phone</label>
        <input type="text" name="phone" id="phone" size="30" value="" class="text-input" />
        <label class="error" for="phone" id="phone_error">This field is required.</label><br>

          <br />
        <input type="submit" name="submit" class="button" id="submit_btn" value="Send" />
    </form>
</div>








{% endblock %}