{% extends "base.html" %}

{% block content %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>



    <script>
  $(function () {
    $('#datetimepicker2').datetimepicker({
                {#format: 'LT',#}
                format : 'HH:mm',
                inline: true,
                {#sideBySide: true#}
            });
 });
</script>



<script>
  $(function () {
    $('#abc').flatpickr({
        mode: "multiple",
        dateFormat: 'Y-m-d',
        inline: true,
  {#enableTime: true,#}
  {#defaultDate: new Date(),#}

    });

 });
</script>



<script>

$(function() {
    $("#submit_button").click(function() {
      {#// validate and process form here#}
    });
  });

</script>








<script>

    $(function() {
    $('.error').hide();
    $("#submit_button").click(function() {

      $('.error').hide();
  	  var time = $("input#datetimepicker2").val();
  		if (time == "") {
        $("label#hour_error").show();
        $("input#datetimepicker2").focus();
        return false;
      }
  		var date = $("input#abc").val();
  		if (date == "") {
        $("label#days_error").show();
        $("input#abc").focus();
        return false;
      }




      var dataString = 'time='+ time + '&date=' + date ;
     {#alert (dataString);return false;#}
      $.ajax({
        type: "POST",
        url: "treatment",
        data: data_dict,
        success: function() {
          $('#contact_form').html("<div id='message'></div>");
          $('#message').html("<h2>Contact Form Submitted!</h2>")
          .append("<p>We will be in touch soon.</p>")
          .hide()
          .fadeIn(1500, function() {
            $('#message').append("<img id='checkmark' src='images/check.png' />");
          });
        }
      });
    return false;


    });
  });


</script>




<div id="add_treatment_form">
    <form name="treatment" action="" method="POST">
        {% csrf_token %}
        <div class="container">
          <div class="panel panel-primary">
            <div class="panel-heading">Schedule a treatment</div>
              <div class="panel-body">
                 <div class="row">
                    <div class="col-md-6">

                       <div class="form-group">
                           <label class="control-label">Treatment hour</label><br>
                           <label class="error" for="datetimepicker2" id="hour_error">This field is required!</label><br>
                           <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                <input type="text" name="time" class="form-control datetimepicker-input" id="datetimepicker2" data-target="#datetimepicker2"/>
                                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                    <div class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                           </div>
                       </div>

                    </div>
                    <div class='col-md-6'>

                       <div class="form-group">
                          <label class="control-label">Treatment days</label><br>
                           <label class="error" for="abc" id="days_error">This field is required!</label><br>
                           <input type='text' name="date" class="form-control" id='abc'/>
                       </div>
                    </div>

              </div>

              <button type="submit" id="submit_button" class="btn btn-primary btn-lg btn-block">Submit</button>

            </div>

           </div>

        </div>
    </form>

</div>











{% endblock %}